*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.iws
.idea/tasks.xml
.idea/vcs.xml
*.iws
*.ipr
.idea/
.gradle/
/build


